.echarts-list-wrap {
	margin: 0 -1%;
	.echarts-list {
		position: relative;
		float: left;
		width: 30.85%;
		margin: 18px 1% 0;
		padding-bottom: 16.75%;
	}
	.echarts-list-title {
		padding: 0 17px;
		font-size: 18px;
		height: 40px;
		background-color: rgba(204, 204, 204, .1);
	}
	.echarts-list-box {
		position: absolute;
		left: 0;
		right: 0;
		top: 40px;
		bottom: 0;
		background-color: rgba(0, 0, 0, .1);
	}
}